body {
  background-color: #eee;
}

.fas {
  transition: 0.3s ease;
}

.fas:hover {
  cursor: pointer;
}

.YT-player-wrapper {
  padding: 10px;
}

.YT-player {
  width: 100%;
  height: 50vh;
  border-radius: 5px;
  box-shadow: -1px 5px 10px rgba(0, 0, 0, 0.836);
}
